@font-face {
	font-family: 'EBGaramondSC08';
	font-display: swap;
	src: url('../fonts/EBGaramondSC08-Regular.woff') format('woff'), url('../fonts/EBGaramondSC08-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'EBGaramond08';
	font-display: swap;
	src: url('../fonts/EBGaramond08-Regular.woff') format('woff'), url('../fonts/EBGaramond08-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
