$font-stack: "EBGaramondSC08", sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  font-family: $font-stack;
  box-sizing: border-box;
  // background-color: #bcc5cc;
}

.condition{
  background-color: grey;
  padding: 30px 0;
  h4{
    margin: 0;
  }
}

.forUs {
  padding: 30px 0;

  h2 {
    margin: 0 0 20px 0
  }
}

@import "normalize";
@import "fonts";
@import "materialize.min";
@import "header";
@import "video-container";
@import "container-photo";
@import "programm";
@import "prize-winer";
@import "distance";
@import "questions";
@import "footer";
