$font-stack: "EBGaramondSC08", sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  font-family: $font-stack;
  // background-color: #bcc5cc;
}


@import "normalize";
@import "fonts";
@import "materialize.min";
@import "header";
@import "video-container";
@import "container-photo";
@import "programm";
@import "prize-winer";
@import "distance";
@import "questions";
